body{
    margin: 0;
    padding: 0;
    display: flex;
   flex-direction: column;
}

.banner,
footer{
    background-color: #1f2937;
}
h1{
    font-size: 24px;
    color: #f9faf8;
}
h2{
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
    margin: 0;
}
a{
    color: #e5e7eb;
    text-decoration: none;
   
}
li{
    list-style-type: none;
}
.banner p{
    color: #e5e7eb;
}
button{
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 2pt;
    border-color: #3882f6;
    font-size: 24px;
}
.banner{
    padding-left: 15%;
    padding-right: 15%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
.about-content{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    
}
.about-left,
.about-right{
    width: 50%;
}

.about-right{
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-area-one{
    background-color: #f9faf8;
    padding: 0% 15% 5% 15%;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.card-container{
    width: 156px;
    text-align: center;

}
.deck{
      display: flex;
      align-items: center;
      justify-content: space-evenly; 
      gap: 15px;
}
.card{
    width: 150px;
    height: 150px;
    background-color: #f9faf8;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 10px;
}
.content-area-two{
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
   
    padding: 5% 15% 5% 15%;
}
.quote{
    padding: 0 5% 0 5%;
    font-style: italic;
    font-weight: lighter;
}
.author{
    display: flex;
    justify-content: end;
}
.author p{
    margin: 0;;
    padding-right: 10%;
}
.content-area-three{
    background-color: #f9faf8;
    color: #f9faf8;
    padding: 8% 15% 8% 15%;
}
.signup-box{
    background-color: #3882f6;
    border-radius: 5pt;
    padding: 5%;
    display: flex;
}
h4{
    font-size: 36px;
    margin: 0;
}

.signup-left p{
    display: flex;
    font-size: 24px;
    margin: 0;
    padding-right: 5%;
}
.signup-right {
    padding: 15px;
    display: flex;
    align-items: center;
    
}
.signup-right button{
    min-width: 90px;
    background-color:#3882f6;
    color: #f9faf8;
    border-color: #f9faf8;
    font-size: 24px;
}
footer{
    color: #f9faf8;
    text-align: center;
}